.apple_image {
    width: 200px;
    height: 252px;
    display: block;
    position: relative;
    margin-left: 50%;
    left: -100px;
}

.apple_color {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
}

.apple_wrapper {
    background-image: url("/images/apple_hole.png");
    width: 100%;
    height: 100%;
    position: absolute;
}

.apple_tree {
    background-image: url("/images/tree.png");
    width: 200px;
    height: 87px;
    display: block;
    position: relative;
    margin-left: 50%;
    left: -100px;
}

.apple_ground {
    background-image: url("/images/ground.png");
    width: 100%;
    height: 59px;
    display: block;
    position: relative;
}

.eat_form {
    border-top: 1px solid #ebedf2;
    margin-top: 20px;
    padding-top: 20px;
}

.has-error .help-block {
    color: red;
}